/* цвет основного текста #757575*/
/* вторичный цвет текста #212121 */
/* цвет акцента 2196f3*/
/* фон белый  */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --second-background: #f5f4fa;
  --footer-background: #2f303a;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
body li {
  list-style-type: none;
}
li a {
  text-decoration: none;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-text-color);
}

.logo-accent,
.logo:hover {
  color: var(--accent-color);
}
nav a,
.address-nav a {
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .current:visited {
  color: var(--accent-color);
}
/* Site nav */
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .current:visited {
  color: var(--accent-color);
}
.address-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
}
.address-nav a:hover,
.address-nav a:focus {
  color: var(--accent-color);
}
/* h1 Заголовок h1 */
.hero {
  color: var(--primary-white-color);
  background-color: #2f303a;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  font-family: Raleway, sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
}
.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-decoration: none;
}
.btn-more {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Особенности */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features h3 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/* Сферы деятельности */
.section .section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* Секция наша команда */
.team h3 {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}
/* Футер */
.footer a {
  text-decoration: none;
}
.footer {
  background-color: var(--footer-background);
}
.logo-regular {
  color: var(--primary-white-color);
}
.address-footer {
  font-style: normal;
}
.address-map {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
}
.addres-mailto,
.addres-tel {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.examples-works h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.examples-works p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
